<!DOCTYPE html>
<html>
<head>
<title>Install</title>
</head>
<body>
	<div>
		Successfully connected to apaleo! Your app is installed and available at:
		<a href="{{.appUrl}}">{{.appUrl}}</a>
	</div>
</body>
</html>